@import "./../../../Styles/variables";
@import "./../../../Styles/mixins";

.card {
  padding: 2.5rem 5rem;
  box-shadow: $box-shadow;
  z-index: 2;
  transition: all 0.2s;
  border: 1px solid transparent;
  &:hover {
    @include zoomEffectAnimation;
  }

  &-item {
    @include flexLayout(center, center, column, 2rem);
  }
  @media only screen and(max-width: 75em) {
    padding: 2rem 4rem;
  }
  @media only screen and(max-width: 62.5em) {
    padding: 1.5rem 2rem;
  }
}

.card-dark {
  background-color: $color-primary-dark;
  color: $color-white;
}

.card-light-dark {
  background-color: $color-primary-light;
  color: $color-white;
}

.card-light {
  background-color: $color-cream;
  color: $color-primary-dark;
}

.card-white {
  background-color: $color-white;
}

.card-primary {
  background-color: $color-primary;
}

.padding-tb-lg {
  padding: 6rem 0;

  @media only screen and(max-width: 54em) {
    padding: 4rem 0;
  }
}

.hover-effect {
  &:hover {
    background-color: $color-primary-extra-light-3;
    border: 1px solid $color-primary;
  }
}
