@import "./../../../Styles/mixins";
@import "./../../../Styles/variables";

.page-heading {
  position: relative;
  margin-top: -11rem;
  width: 100%;
  z-index: -4;
  padding-bottom: 2rem;
  background-size: cover;
  background-position: center center;

  width: 100%;
  height: 50vh;

  @include flexLayout(flex-end, center, column, 0);

  &__text-over {
    background-color: rgba($color-white, 0.7);
    @include flexLayout(center, center, row, 0);
    padding: 1rem 2rem;
    box-shadow: $box-shadow;
    & h3 {
      font-size: 2.8rem;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
  @media only screen and (max-width: 43em) {
    margin-top: -20rem;
  }

  &.about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./../../../../public/assets/about-bg.jpg");
  }

  &.yoga {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./../../../../public/assets/about-bg.jpg");
  }

  &.pilates {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./../../../../public/assets/about-bg.jpg");
  }

  &.strength {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./../../../../public/assets/about-bg.jpg");
  }

  &.zumba {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./../../../../public/assets/about-bg.jpg");
  }
  &.meditation {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./../../../../public/assets/about-bg.jpg");
  }

  &.nutrition {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./../../../../public/assets/about-bg.jpg");
  }
}
