$color-primary: #c4795e;
$color-primary-dark: #503025;
$color-primary-light: #c4795e;
$color-primary-extra-light: #f3e4df;
$color-primary-extra-light-2: #f3e4df;
$color-primary-extra-light-3: #f9f2ef;
$color-cream: #f4ede6;
$color-primary-extra-dark: #271813;
$color-primary-dark-1: #173418;

$color-white: #fff;
$color-black: #000;

$color-grey: #444444;
$color-grey-light-1: #b4b4b4;
$color-grey-light-2: #ececec;

$box-shadow: rgba($color-black, 0.2) 0px 0.7rem 2.9rem 0px;
$box-shadow-hover: rgba($color-black, 0.3) 0px 0.8rem 3rem 0px;
