@import "./../../../Styles/mixins";
@import "./../../../Styles/variables";

.course {
  //@include flexLayout(flex-start, flex-start, column, 4rem);
  padding: 2rem 0;
  &--main {
    @include gridLayout(auto, repeat(2, 1fr), 0, 2rem);

    &__button {
      @include flexLayout(flex-start, center, row, 5rem);
      margin-top: 4rem;

      @media only screen and(max-width: 43em) {
        margin-top: 2rem;
      }
    }

    &__link:link,
    &__link:visited {
      text-decoration: none;
      color: $color-grey;
      font-size: 1.6rem;
      font-weight: 500;
      border-bottom: 1px solid $color-grey;
      transition: all 0.2s;
    }

    &__link:hover,
    &__link:active {
      color: $color-primary-dark;
      border-bottom: 1px solid transparent;
    }

    &__text {
      @include flexLayout(flex-start, flex-start, column, 0);

      &-benefits {
        margin-top: 2rem;
        @include flexLayout(flex-start, flex-start, column, 0.5rem);
        color: $color-grey;
        list-style: none;
        font-size: 1.4rem;
        letter-spacing: 1px;
      }
    }

    &__video {
      padding: 5rem 0;
      iframe {
        width: 100%;
        height: 100%;
        border: none;
      }
      @media only screen and(max-width: 43em) {
        padding: 0;
      }
    }

    @media only screen and(max-width: 43em) {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }
  @media only screen and (max-width: 50em) {
    padding: 2rem 0;
  }
}

.icon-text {
  @include flexLayout(flex-start, center, row, 1rem);
  & [name="checkmark-circle-outline"] {
    font-size: 2rem;
    color: rgb(36, 199, 36);
  }
}
