@import "./../../../Styles/variables";
@import "./../../../Styles/mixins";

.testimonial {
  padding: 4rem 0;
  &-main {
    max-width:99%;
    @include flexLayout(flex-start, center, column, 2rem);
    &--container {
      display:flex;
      @media only screen and(max-width: 700px) {
        @include gridLayout(auto, repeat(2, 1fr), 3rem, 2rem);
      }
    }
    

    &__data {
      @include flexLayout(flex-start, flex-start, column, 1rem);

      & img {
        width: 30%;
        border-radius: 50%;
      }

      &--text {
        font-size: 1.4rem;
        color: $color-primary-dark-1;
        line-height: 1.4;
      }

      &--author {
        font-size: 1.2rem;
        color: $color-grey-light-1;
        font-style: italic;
      }
      @media only screen and(max-width: 50em) {
        padding: 2rem 0;
      }
    }
    @media only screen and(max-width: 50em) {
      align-items: flex-start;
    }
  }

  @media only screen and(max-width: 62.5em) {
    column-gap: 2rem;
  }
  @media only screen and(max-width: 50em) {
    grid-template-columns: 1fr;
    row-gap: 3rem;
    padding: 2rem 0;
  }
}
