.featured-portfolio {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  place-items: center;
  padding: 4rem 0;

  &-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    & .heading-tertiary {
      justify-content: left;
      margin-top: -2.5rem;
      font-size: 1.4rem;
    }
  }

  @media only screen and(max-width: 43em) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and(max-width: 26em) {
    grid-template-columns: 1fr;
  }
}
