@import "./../../../Styles/variables";
@import "./../../../Styles/mixins";

.trainer {
  padding: 2rem 0;
  @include gridLayout(auto, repeat(2, 1fr), 2rem, 2rem);
  place-items: center;

  &-info {
    &__social-links {
      list-style: none;
      @include flexLayout(flex-start, center, row, 2rem);
      font-size: 3rem;
      padding-top: 2rem;
    }
    &__social-link a:link,
    &__social-link a:visited {
      text-decoration: none;
      color: $color-primary-light;
    }

    &__social-link a:hover,
    &__social-link a:active {
      color: $color-primary-dark;
    }
  }

  &-img {
    width: 70%;
    @media only screen and (max-width: 43em) {
      width: 100%;
    }
  }

  @media only screen and (max-width: 43em) {
    grid-template-columns: 1fr;
  }
}
