@import "./../../../Styles/variables";
@import "./../../../Styles/mixins";

.btn {
  @include generalTextFormatting;
  border: none;
  letter-spacing: 1px;
  padding: 2rem 3rem;
  cursor: pointer;
  transition: all 0.2s;

  &-primary {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: $box-shadow;
    &:hover {
      @include zoomEffectAnimation;
      background-color: $color-primary-dark;
    }
    &:active {
      transform: translateY(1px) scale(1.015);
      box-shadow: $box-shadow;
    }
  }

  @media only screen and(max-width: 26em) {
    padding: 1.5rem 2rem;
  }
}

.flex-start {
  margin: 0 auto 0 0;
}
